<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>customer</title>
</head>
<body>

    {% for customer in all_customer %}
        <div>Tên: {{customer.name}}
        <p>Giới tính: {{customer.gender}}</p>
        <p>SDT: {{customer.phone}}</p>
        <p>Email: {{customer.email}}</p>
        <p>Công ty: {{customer.company}}</p>
        <p>Trạng thái: {{customer.contacted}}</p>
        <hr>
        </div>
    {% endfor %}
</body>
</html>