<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add user</title>
</head>
<body>
    <h1>Add user</h1>
    <form method="POST">
        <label>Tên đầy đủ</label>
        <input type="text" , name = "fullname">
        <label>email</label>
        <input type="text" , name = "email">
        <label>Username</label>
        <input type="text" , name = "username">
        <label>Password</label>
        <input type="text" , name = "password">

        <button type = "submit">Gửi</button>
    </form>
</body>
</html>